In [1]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd

In [2]:
df1 = pd.read_csv('1st result.csv')
df2 = pd.read_csv('2nd result.csv')
df3 = pd.read_csv('3rd result.csv')
df4 = pd.read_csv('4th result.csv')

In [3]:
df1

   rental_year  rental_month  store_id  count_rentals
0         2005             7         2           3367
1         2005             7         1           3342
2         2005             8         1           2892
3         2005             8         2           2794
4         2005             6         1           1163
5         2005             6         2           1148
6         2005             5         2            598
7         2005             5         1            558
8         2006             2         2             97
9         2006             2         1             85

In [6]:
fig = go.Figure(data=[
    go.Bar(name=df1['store_id'], x=df1['rental_month'], y=df1['count_rentals'])
])
# Change the bar mode
fig.update_layout(barmode='group')
fig.show()

ValueError:
    Invalid value of type 'pandas.core.series.Series' received for the 'name' property of bar
        Received value: 0    2
1    1
2    1
3    2
4    1
5    2
6    2
7    1
8    2
9    1
Name: store_id, dtype: int64

    The 'name' property is a string and must be specified as:
      - A string
      - A number that will be converted to a string